.advantages-card {

&:nth-child(1) {
    grid-column-start: 4;
    grid-column-end: 13;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
    width: 100%;
    @media (min-width: 768px) and (max-width: 1023px) {grid-column-start: 3;}
    @media (min-width: 0px) and (max-width: 767px) {background: none; box-shadow: none;}
    }

&:nth-child(2) {
    grid-column-start: 15;
    grid-column-end: 24;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
    width: 100%;
    @media (min-width: 768px) and (max-width: 1023px) {grid-column-start: 14;}
    @media (min-width: 0px) and (max-width: 767px) {background: none; box-shadow: none;}
    }

&:nth-child(3) {
    grid-column-start: 4;
    grid-column-end: 13;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
    width: 100%;
    margin-top: 52px;
    padding-bottom: 25px;
    @media (min-width: 768px) and (max-width: 1023px) {grid-column-start: 3; margin-top: 42px;}
    @media (min-width: 0px) and (max-width: 767px) {background: none; box-shadow: none; margin-top: 0px; padding-bottom: 0px;}
    }

&:nth-child(4) {
    grid-column-start: 15;
    grid-column-end: 24;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
    width: 100%;
    margin-top: 52px;
    padding-bottom: 25px;
    @media (min-width: 768px) and (max-width: 1023px) {grid-column-start: 14; margin-top: 42px;}
    @media (min-width: 0px) and (max-width: 767px) {background: none; box-shadow: none; margin-top: 0px; padding-bottom: 0px;}
    }
}

.content {
&__title {
    @include mont18bold();
    color: #3A4959;
    padding-left: 65px;
    margin-top: -40px;
    @media (min-width: 768px) and (max-width: 1023px) {@include mont14bold(); padding: 30px 30px 0px 25px;}
    @media (min-width: 0px) and (max-width: 767px) {@include mont14bold(); padding-left: 70px; padding-top: 0px;}
    }
    
&__text {
    @include sans16();
    color: #3A4959;
    padding: 9px 40px 10px 65px;
    @media (min-width: 768px) and (max-width: 1023px) {@include sans14(); padding: 5px 10px 28px 25px;}
    @media (min-width: 0px) and (max-width: 767px) {@include sans14(); padding: 0px 10px 20px 69px;}
    }
}

.sprite { 
    @mixin sprite($item) {
    height: 70px;
    width: 70px;
    background-position: ($item * (-73)) + px 860px;
    background-image: url('./img/Sprite_b.svg');
    @media (min-width: 0px) and (max-width: 1023px) {height: 50px; width: 50px; background-position: ($item * (-53)) + px 682px;}
    }
          
&__multi {
    @include sprite(0);
    position: relative;
    transform: translate(-50%, 50%);
    @media (min-width: 768px) and (max-width: 1023px) {transform: translate(50%, -50%);}
    @media (min-width: 0px) and (max-width: 767px) {transform: translate(0%, 20%);}
    }
      
&__doctor {
    @include sprite(1);
    position: relative;
    transform: translate(-50%, 50%);
    @media (min-width: 768px) and (max-width: 1023px) {transform: translate(50%, -50%);}
    @media (min-width: 0px) and (max-width: 767px) {transform: translate(0%, 20%);}
    }
      
&__over {
    @include sprite(2);
    position: relative;
    transform: translate(-50%, 50%);
    @media (min-width: 768px) and (max-width: 1023px) {transform: translate(50%, -50%);}
    @media (min-width: 0px) and (max-width: 767px) {transform: translate(0%, 20%);}
    }
      
&__insurance {
    @include sprite(3);
    position: relative;
    transform: translate(-50%, 50%);
    @media (min-width: 768px) and (max-width: 1023px) {transform: translate(50%, -50%);}
    @media (min-width: 0px) and (max-width: 767px) {transform: translate(0%, 20%);}
    }
}