body {
  margin: 0px;
  width: 100%;
  background: rgb(230, 247, 247);
}

.container {
  max-width: 1180px;
  padding: 0px 110px;
  margin: 0px auto;
  
@media (min-width: 0px) and (max-width: 1023px) {
  max-width: 1180px;
  padding: 0px;
  margin: 0px auto;
  }
}

h1, h2, h3, p {
  margin: 0;
}

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 67px;
  letter-spacing: 1px;
  color: #3A4959;
}

h2 {
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 38px;
  line-height: 44px;
  letter-spacing: 1px;
  color: #3A4959;
}

a {
  text-decoration: none;
  cursor: pointer;

&:hover {
  opacity: 0.5;
}

&:active {
  opacity: 0.8;
}
}

img {
  border: none;
  max-width: 100%;
}

svg {
  max-width: 100%;
}