.contacts {
  padding-top: 50px;
  @media (min-width: 768px) and (max-width: 1023px) {padding-top: 70px;}
  
&__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  background:  #FFCE51;
  border-radius: 10px;
  @media (min-width: 0px) and (max-width: 767px) {display: block;}

  &__sprite {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  &__info {
    grid-column-start: 4;
    grid-column-end: 10;
    @media (min-width: 768px) and (max-width: 1023px) {grid-column-start: 5; grid-column-end: 12;}
  }
  }
}

.info {
&__title {
  padding-top: 62px;
  padding-bottom: 18px;
  @media (min-width: 0px) and (max-width: 1023px) {@include mont28bold(); padding-top: 30px;}
  @media (min-width: 0px) and (max-width: 767px) {padding: 0px 20px;}
  }

&__text {
  @include sans18();
  color: #3A4959;
  @media (min-width: 768px) and (max-width: 1023px) {@include sans15();}
  @media (min-width: 0px) and (max-width: 767px) {display: none;}
  }

&__number {
  padding-top: 22px;
  padding-bottom: 31px;
  @include mont24();
  color: #3A4959;
  @media (min-width: 0px) and (max-width: 1023px) {@include mont18bold(); padding-bottom: 20px;}
  @media (min-width: 0px) and (max-width: 767px) {padding: 20px 20px;}
  }

&__button-block {
  @media (min-width: 768px) and (max-width: 1023px) {padding: 0px 20px 40px 0px;}
  @media (min-width: 0px) and (max-width: 767px) {padding: 0px 20px 20px 20px;}
  }
}

.sprite { 
@mixin sprite($item) {
  height: 105px;
  width: 220px;
  background-position: ($item * (-73)) + px 790px;
  background-image: url('./img/Sprite_b.svg');
  @media (min-width: 0px) and (max-width: 1023px) {height: 61px; width: 117px; background-position: ($item * (-73)) + px 632px;}
  }
    
&__mail {
  @include sprite(0);
  position: relative;
  top: -50px;
  left: 35px;
  @media (min-width: 768px) and (max-width: 1023px) {left: 65px; top: -30px;}
  @media (min-width: 0px) and (max-width: 767px) {top: -24px; left: 17px;}
  }
}