.header {
  &__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

  &__menu {
  display: flex;
  padding-top: 36px;
  }

  &__contact-us {
  padding-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (min-width: 0px) and (max-width: 1023px) {
  display: none;
  }
  }

  &__logo {
  padding-right: 78px;
  @media (min-width: 768px) and (max-width: 1023px) {
  margin-top: -15px;
  max-width: 160px;
  }
  @media (min-width: 0px) and (max-width: 767px) {
  margin-top: -35px;
  max-width: 132px;
  }
  }
}

.menu {
padding: 22px 0px 20px 0px;
white-space: nowrap;
@media (min-width: 0px) and (max-width: 1023px) {
display: none;
}

  &__link {
  @include sans13();
  padding-right: 27px;
  }
}

.contact-us {
  &__appointment {
  background-color: #FFCE51;
  border-radius: 10px;
  padding: 12px 21px 11px 22px;
  @include sans13bold();
  text-align: center;
  }

  &__number {
  @include sans16bold();
  padding-right: 30px;
  text-align: center;
  white-space: nowrap;
  }
}

.icon {
display: none;
@media (min-width: 768px) and (max-width: 1023px) {
display: block;
position: absolute;
top: 45px;
right: 35px;
}
@media (min-width: 0px) and (max-width: 767px) {
display: block;
position: absolute;
z-index: 1;
top: 26px;
right: 20px;
}
}