.info {
&__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  margin: 0;
  padding-top: 42px;
  @media (min-width: 0px) and (max-width: 767px) {grid-template-columns: repeat(4, 1fr);}

  &__description {
    grid-column-start: 2;
    grid-column-end: 7;
    @media (min-width:0px) and (max-width: 767px) {grid-column-start: 1; grid-column-end: 5;}
  }

  &__img {
    position: relative;
    grid-column-start: 7;
    grid-column-end: 13;
    @media (min-width: 0px) and (max-width: 767px) {position: absolute; width: 230px; height: 220px; top: -110px; right: -35px;}
  }
}
}

.description__title::before {
  content: " ";
  position: absolute;
  width: 110px;
  height: 5px;
  background: #056CDE;
  border-radius: 10px;
  top: 34px;
  @media (min-width: 768px) and (max-width: 1023px) {position: absolute; width: 80px; height: 3px; top: -10px;}
  @media (min-width: 0px) and (max-width: 767px) {position: absolute; width: 80px; height: 3px; top: 61px;}
}

.description {
&__title {
  position: relative;
  padding-top: 71px;
  z-index: 1;
  @media (min-width: 768px) and (max-width: 1023px) {font-size: 28px; line-height: 32px; padding-top: 15px;}
  @media (min-width: 0px) and (max-width: 767px) {font-size: 28px; line-height: 32px; padding-top: 80px;}
  }

&__text {
  @include sans18();
  padding: 28px 0px 28px 0px;
  @media (min-width: 768px) and (max-width: 1023px) {font-size: 15px; line-height: 25px; padding: 19px 0px 19px 0px;}
  @media (min-width: 0px) and (max-width: 767px) {font-size: 15px; line-height: 25px; padding: 14px 0px 19px 0px;}
  }

&__button {
  padding: 20px 0px 121px 0px;
  position: relative;
  z-index: 1;
  @media (min-width: 768px) and (max-width: 1023px) {padding: 15px 0px 19px 0px;}
  @media (min-width:0px) and (max-width: 767px) {width: 100%; padding: 15px 0px 19px 0px;}
  }

&__button__push {
  padding: 14px 76px;
  margin-bottom: 40px;
  @include sans16bold();
  text-align: center;
  color: white;
  background: #056CDE;
  border-radius: 10px;
  @media (min-width: 768px) and (max-width: 1023px) {font-size: 13px; line-height: 18px; padding: 14px 56px 10px 56px;}
  @media (min-width: 0px) and (max-width: 767px) {font-size: 13px; line-height: 18px; padding: 14px 0px 9px 0px;}
  }

&__contact {
  display: flex;
  justify-content: space-between;
  width: 150px;
  position: relative;
  z-index: 1;
  @media (min-width: 0px) and (max-width: 1023px) {display: none;}
  }
}



.img {
&__bg {
  @media (min-width: 768px) and (max-width: 1023px) {position: relative; top: -20%; max-width: 330px;}
  }

&__spine {
  position: absolute;
  top: -5px;
  width: 50%;
  left: 43%;
  max-height: 560px;
  transform: translateX(-50%);
  @media (min-width: 768px) and (max-width: 1023px) {position: absolute; top: -15px; max-height: 320px; transform: translateX(-50%);}
  @media (min-width: 0px) and (max-width: 767px) {position: absolute; top: 80%; max-width: 80px; left: 45%; max-height: 140px; transform: translateX(-50%);}
  }

&__ellipse {
  position: absolute;
  top: 600px;
  left: 53%;
  transform: translateX(-50%);
  @media (min-width: 768px) and (max-width: 1023px) {position: absolute; top: 65%; left: 40%; max-width: 250px;}
  @media (min-width: 0px) and (max-width: 767px) {display: none;}
  }
}

.img__spine::after {
  content: " ";
  position: absolute;
  max-width: 110px;
  max-height: 100%;
  background: #056CDE;
  border-radius: 10px;
  height: 6px;
}

.contact {
  position: relative;
  z-index: 1; 

  @mixin sprite($item) {
    height: 30px;
    width: 30px;
    background-position: ($item * (-30)) + px 460px;
    background-image: url('./img/Sprite_b.svg');
  }
  
  &__pinterest {
    @include sprite(0);
  }
  &__instagram {
    @include sprite(1);
  }
  &__twitter {
    @include sprite(2);
  }
  &__facebook {
    @include sprite(3);
  }
}