.main {
    padding-bottom: 50px;
}
.pain-treatment {
    grid-template-columns: repeat(12,1fr);
    display: grid;
    grid-gap: 20px;
    padding-top: 130px;
    @media (min-width: 768px) and (max-width: 1023px) {margin-top: -32px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}

&__foto {
    grid-column-start: 1;
    grid-column-end: 7;
    @media (min-width: 768px) and (max-width: 1023px) {grid-column-start: 1; grid-column-end: 7;}
    
    &__img {
        box-shadow: 0 0 10px rgba(145, 144, 144, 0.5);
        border-radius: 10px;
        position: relative;
        z-index: 1;    
        }
    }

&__info {
    grid-column-start: 7;
    grid-column-end: 13;
    
    &__title {
        position: relative;
        @include mont38bold();
        padding-top: 115px;
        @media (min-width: 768px) and (max-width: 1023px) {@include mont22bold(); padding-top: 65px;}
        }

    &__text {
        @include sans18 ();
        padding-top: 16px;
        padding-bottom: 47px;
        position: relative;
        z-index: 1;
        @media (min-width: 768px) and (max-width: 1023px) {@include sans15(); padding-bottom: 27px;}
        }
    }
}

.pain-treatment__info__title::before {
    content: " ";
    position: absolute;
    width: 110px;
    height: 5px;
    background: #056CDE;
    border-radius: 10px;
    top: 77px;
    @media (min-width: 768px) and (max-width: 1023px) {width: 80px; height: 3px; top: 40px;}
}

.services__title::before {
    content: " ";
    position: absolute;
    width: 110px;
    height: 5px;
    background: #056CDE;
    border-radius: 10px;
    top: 112px;
    @media (min-width: 768px) and (max-width: 1023px) {width: 80px; height: 3px; top: 80px;}
    @media (min-width: 0px) and (max-width: 767px) {width: 80px; height: 3px; top: -10px;}
}

.services {
    grid-template-columns: repeat(12,1fr);
    display: grid;
    grid-gap: 20px;
    padding-top: 150px;
    position: relative;
    @media (min-width: 768px) and (max-width: 1023px) {padding-top: 105px;}
    @media (min-width: 0px) and (max-width: 767px) {grid-template-columns: repeat(4, 1fr); grid-row-gap: 20px; padding-top: 158px;}
    
&__title {
    grid-column-start: 2;
    grid-column-end: 7;
    z-index: 1;
    @media (min-width: 768px) and (max-width: 1023px) {@include mont22bold();}
    @media (min-width:0px) and (max-width: 767px) {@include mont22bold(); margin-top: -150px; grid-column-start: 1; grid-column-end: 5;}
    }

&__card-chiropractic {
    grid-column-start: 2;
    grid-column-end: 7;
    max-width: 450px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 19px;
    max-height: 470px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(145, 144, 144, 0.5);
    @media (min-width: 768px) and (max-width: 1023px) {margin-top: 9px; max-height: 400px;}
    @media (min-width: 0px) and (max-width: 767px) {max-width: 900px; grid-column-start: 1; grid-column-end: 5; margin-top: -115px;}
    }

&__card-acupuncture {
    grid-column-start: 7;
    grid-column-end: 12;
    margin-top: 173px;
    max-width: 450px;
    max-height: 470px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 10px rgba(145, 144, 144, 0.5);
    @media (min-width: 768px) and (max-width: 1023px) {margin-top: 170px; max-height: 400px;}
    @media (min-width: 0px) and (max-width: 767px) {max-width: 900px; grid-column-start: 1; grid-column-end: 5; margin-top: 0px;}
    }

&__card-massage {
    grid-column-start: 2;
    grid-column-end: 7;
    max-width: 450px;
    max-height: 470px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: -250px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(145, 144, 144, 0.5);
    @media (min-width: 768px) and (max-width: 1023px) {margin-top: -170px; max-height: 400px;}
    @media (min-width: 0px) and (max-width: 767px) {max-width: 900px; grid-column-start: 1; grid-column-end: 5; margin-top: -130px;}
    }
}

.card-chiropractic {
&__img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @media (min-width: 470px) and (max-width: 767px) {max-height: auto;}
    @media (min-width: 0px) and (max-width: 469px) {max-height: 95px;}
    }

&__title {
    @include mont24bold();
    padding: 31px 38px 8px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include mont18bold(); padding: 20px 0px 8px 18px;}
    @media (min-width: 0px) and (max-width: 767px) {@include mont18bold(); padding: 20px 0px 8px 18px; color: #056CDE;}
    }

&__text {
    @include sans16();
    padding: 0px 48px 21px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include sans14(); padding: 0px 30px 21px 18px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }

&__links {
    @include sans13();
    padding: 0px 38px 38px 38px;
    word-wrap: normal; 
    @media (min-width: 768px) and (max-width: 1023px) {@include sans11(); padding: 0px 50px 0px 18px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }
}

.card-acupuncture {
&__img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @media (min-width: 470px) and (max-width: 767px) {max-height: auto;}
    @media (min-width: 0px) and (max-width: 469px) {max-height: 95px;}
    }

&__title {
    @include mont24bold();
    padding: 30px 38px 8px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include mont18bold(); padding: 18px 38px 8px 20px;}
    @media (min-width: 0px) and (max-width: 767px) {@include mont18bold(); padding: 20px 0px 8px 18px; color: #056CDE;}
    }

&__text {
    @include sans16();
    padding: 0px 68px 21px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include sans14(); padding: 0px 15px 15px 20px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }

&__links {
    @include sans13();
    padding: 0px 40px 67px 40px;
    @media (min-width: 768px) and (max-width: 1023px) {@include sans11(); padding: 0px 15px 25px 20px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;} 
    }
}

.card-massage {
&__img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @media (min-width: 470px) and (max-width: 767px) {max-height: auto;}
    @media (min-width: 0px) and (max-width: 469px) {max-height: 95px;}
    }

&__title {
    @include mont24bold();
    padding: 30px 38px 8px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include mont18bold(); padding: 20px 0px 8px 18px;}
    @media (min-width: 0px) and (max-width: 767px) {@include mont18bold(); padding: 20px 0px 8px 18px; color: #056CDE;}
    }
    
&__text {
    @include sans16();
    padding: 0px 38px 21px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include sans14(); padding: 0px 15px 15px 20px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }
    
&__links {
    @include sans13();
    padding: 0px 40px 35px 40px; 
    @media (min-width: 768px) and (max-width: 1023px) {@include sans11(); padding: 0px 15px 25px 20px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }
}

.links {
&__chiropractic {
    margin-right: 18px;
    color: #056CDE;
    }

&__distraction {
    color: #056CDE;
    }

&__thompson {
    padding-right: 21px;
    color: #056CDE;
    }

&__all {
    color: #056CDE;
    }

&__cupping {
    color: #056CDE;
    margin-right: 18px;
    }

&__chinese-herbs {
    color: #056CDE;
    }

&__tissue {
    margin-right: 17px;
    color: #056CDE;
}

&__trigger {
    margin-right: 17px;
    color: #056CDE;
    }

&__massage {
    color: #056CDE;
    }

&__myofascial {
    color: #056CDE;
    }
}

.advantages__info__title::before {
    content: " ";
    position: absolute;
    width: 110px;
    height: 5px;
    background: #056CDE;
    border-radius: 10px;
    height: 6px;
    top: 50px;
    @media (min-width: 768px) and (max-width: 1023px) {width: 80px; height: 3px; top: 12px;}
    @media (min-width: 0px) and (max-width: 767px) {width: 80px; height: 3px; top: 20px;}
}

.advantages {
    position: relative;
    z-index: 1;

&__info {
    padding-top: 88px;
    padding-left: 100px;
    @media (min-width: 768px) and (max-width: 1023px) {padding-top: 35px; padding-left: 55px;}
    @media (min-width: 0px) and (max-width: 767px) {padding-top: 40px; padding-left: 0px;}

    &__title {
        @media (min-width: 0px) and (max-width: 1023px) {@include mont22bold();}
        }
    &__text {
        padding-top: 16px;
        padding-right: 500px;
        @include sans18();
        @media (min-width: 768px) and (max-width: 1023px) {@include sans15(); padding-right: 200px;}
        @media (min-width: 0px) and (max-width: 767px) {display: none; padding-right: 0px;}
        }
    }

&__cards {
    grid-template-columns: repeat(26,1fr);
    display: grid;
    grid-gap: 0px;
    height: auto;
    padding-top: 43px;
    @media (min-width: 768px) and (max-width: 1023px) {padding-top: 63px;  grid-gap: 10px;}
    @media (min-width: 0px) and (max-width: 767px) {display: block; padding-top: 15px;}   
    }
}

.osvaldo {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 20px;
    @media (min-width: 0px) and (max-width: 767px) {display: block;}

&__foto {
    grid-column-start: 1;
    grid-column-end: 7;

    &__img {
        position: relative;
        top: 120px;
        @media (min-width: 0px) and (max-width: 767px) {top: 30px; width: 100%;}
        }
    }

&__info {
    grid-column-start: 7;
    grid-column-end: 13;

    &__title {
        padding-top: 180px;
        margin-bottom: 18px;
        @media (min-width: 768px) and (max-width: 1023px) {@include mont22bold(); padding-top: 163px; margin-bottom: 0px;}
        @media (min-width: 0px) and (max-width: 767px) {@include mont22bold(); padding-top: 72px;}
        }

    &__text {
        @include sans18();
        color: #3A4959;
         @media (min-width: 0px) and (max-width: 1023px) {@include sans15();}
        }
    }
}

    
.osvaldo__info__title::before {
    content: " ";
    position: absolute;
    width: 110px;
    height: 5px;
    background: #056CDE;
    border-radius: 10px;
    height: 6px;
    top: 145px;
    @media (min-width: 768px) and (max-width: 1023px) {width: 80px; height: 3px; top: 140px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
}

.main__content {
&__advantages {
    padding-top: 65px;
    @media (min-width: 0px) and (max-width: 767px) {padding-top: 38px;}
    }

&__osvaldo {
    @media (min-width: 768px) and (max-width: 1023px) {margin-top: -50px;}
    }

&__bg {
    z-index: 0;
    position: absolute;
    background: url('./img/bg2.svg');
    height: 1225px;
    width: 590px;
    top: 720px;
    left: 0px;
    @media (min-width: 768px) and (max-width: 1023px) {top: 500px; left: -80px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }

&__bg2 {
    background: url('./img/bg3.svg');
    height: 1259px;
    width: 590px;
    z-index: 0;
    position: absolute;
    top: 2100px;
    right: 0px;
    @media (min-width: 768px) and (max-width: 1023px) {top: 1460px; max-width: 330px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }
}