.pain-treatment {
    grid-template-columns: repeat(12,1fr);
    display: grid;
    grid-gap: 20px;
    padding-top: 130px;
    @media (min-width: 768px) and (max-width: 1023px) {margin-top: -205px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}

&__foto {
    grid-column-start: 1;
    grid-column-end: 7;
    @media (min-width: 768px) and (max-width: 1023px) {grid-column-start: 1; grid-column-end: 7;}
    
    &__img {
        box-shadow: 0 0 10px rgba(145, 144, 144, 0.5);
        border-radius: 10px;
        position: relative;
        z-index: 1;    
        }
    }

&__info {
    grid-column-start: 7;
    grid-column-end: 13;
    
    &__title {
        position: relative;
        @include mont38bold();
        padding-top: 115px;
        @media (min-width: 768px) and (max-width: 1023px) {@include mont22bold(); padding-top: 65px;}
        }

    &__text {
        @include sans18 ();
        padding-top: 16px;
        padding-bottom: 47px;
        position: relative;
        z-index: 1;
        @media (min-width: 768px) and (max-width: 1023px) {@include sans15(); padding-bottom: 27px;}
        }

    &__button {
        background: #FFCE51;
        width: 160px;
        padding: 10px 62px 13px 62px;
        @include sans13bold();
        text-align: center;
        color:black;
        border-radius: 10px;
        position: relative;
        z-index: 1;
        }
    }
}

.pain-treatment__info__title::before {
    content: " ";
    position: absolute;
    width: 110px;
    height: 5px;
    background: #056CDE;
    border-radius: 10px;
    top: 77px;
    @media (min-width: 768px) and (max-width: 1023px) {width: 80px; height: 3px; top: 40px;}
}

.services__title::before {
    content: " ";
    position: absolute;
    width: 110px;
    height: 5px;
    background: #056CDE;
    border-radius: 10px;
    top: 112px;
    @media (min-width: 768px) and (max-width: 1023px) {width: 80px; height: 3px; top: 80px;}
    @media (min-width: 0px) and (max-width: 767px) {width: 80px; height: 3px; top: -10px;}
}

.services {
    grid-template-columns: repeat(12,1fr);
    display: grid;
    grid-gap: 20px;
    padding-top: 150px;
    position: relative;
    @media (min-width: 768px) and (max-width: 1023px) {padding-top: 105px;}
    @media (min-width: 0px) and (max-width: 767px) {grid-template-columns: repeat(4, 1fr); grid-row-gap: 20px; padding-top: 158px;}
    
&__title {
    grid-column-start: 2;
    grid-column-end: 7;
    z-index: 1;
    @media (min-width: 768px) and (max-width: 1023px) {@include mont22bold();}
    @media (min-width:0px) and (max-width: 767px) {@include mont22bold(); margin-top: -150px; grid-column-start: 1; grid-column-end: 5;}
    }

&__card-chiropractic {
    grid-column-start: 2;
    grid-column-end: 7;
    max-width: 450px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 19px;
    max-height: 470px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(145, 144, 144, 0.5);
    @media (min-width: 768px) and (max-width: 1023px) {margin-top: 9px; max-height: 400px;}
    @media (min-width: 0px) and (max-width: 767px) {max-width: 900px; grid-column-start: 1; grid-column-end: 5; margin-top: -115px;}
    }

&__card-acupuncture {
    grid-column-start: 7;
    grid-column-end: 12;
    margin-top: 173px;
    max-width: 450px;
    max-height: 470px;
    border-radius: 10px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 0 0 10px rgba(145, 144, 144, 0.5);
    @media (min-width: 768px) and (max-width: 1023px) {margin-top: 170px; max-height: 400px;}
    @media (min-width: 0px) and (max-width: 767px) {max-width: 900px; grid-column-start: 1; grid-column-end: 5; margin-top: 0px;}
    }

&__card-massage {
    grid-column-start: 2;
    grid-column-end: 7;
    max-width: 450px;
    max-height: 470px;
    border-radius: 10px;
    background-color: #fff;
    margin-top: -250px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(145, 144, 144, 0.5);
    @media (min-width: 768px) and (max-width: 1023px) {margin-top: -170px; max-height: 400px;}
    @media (min-width: 0px) and (max-width: 767px) {max-width: 900px; grid-column-start: 1; grid-column-end: 5; margin-top: -130px;}
    }
}

.card-chiropractic {
&__img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @media (min-width: 0px) and (max-width: 767px) {max-height: 95px;}
    }

&__title {
    @include mont24bold();
    padding: 31px 38px 8px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include mont18bold(); padding: 20px 0px 8px 18px;}
    @media (min-width: 0px) and (max-width: 767px) {@include mont18bold(); padding: 20px 0px 8px 18px; color: #056CDE;}
    }

&__text {
    @include sans16();
    padding: 0px 48px 21px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include sans14(); padding: 0px 30px 21px 18px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }

&__links {
    @include sans13();
    padding: 0px 38px 38px 38px;
    word-wrap: normal; 
    @media (min-width: 768px) and (max-width: 1023px) {@include sans11(); padding: 0px 50px 0px 18px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }
}

.card-acupuncture {
&__img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @media (min-width: 0px) and (max-width: 767px) {max-height: 95px;}
    }

&__title {
    @include mont24bold();
    padding: 30px 38px 8px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include mont18bold(); padding: 18px 38px 8px 20px;}
    @media (min-width: 0px) and (max-width: 767px) {@include mont18bold(); padding: 20px 0px 8px 18px; color: #056CDE;}
    }

&__text {
    @include sans16();
    padding: 0px 68px 21px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include sans14(); padding: 0px 15px 15px 20px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }

&__links {
    @include sans13();
    padding: 0px 40px 67px 40px;
    @media (min-width: 768px) and (max-width: 1023px) {@include sans11(); padding: 0px 15px 25px 20px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;} 
    }
}

.card-massage {
&__img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @media (min-width: 0px) and (max-width: 767px) {max-height: 95px;}
    }

&__title {
    @include mont24bold();
    padding: 30px 38px 8px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include mont18bold(); padding: 20px 0px 8px 18px;}
    @media (min-width: 0px) and (max-width: 767px) {@include mont18bold(); padding: 20px 0px 8px 18px; color: #056CDE;}
    }
    
&__text {
    @include sans16();
    padding: 0px 38px 21px 38px;
    @media (min-width: 768px) and (max-width: 1023px) {@include sans14(); padding: 0px 15px 15px 20px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }
    
&__links {
    @include sans13();
    padding: 0px 40px 35px 40px; 
    @media (min-width: 768px) and (max-width: 1023px) {@include sans11(); padding: 0px 15px 25px 20px;}
    @media (min-width: 0px) and (max-width: 767px) {display: none;}
    }
}

.links {
&__chiropractic {
    margin-right: 18px;
    color: #056CDE;
    }

&__distraction {
    color: #056CDE;
    }

&__thompson {
    padding-right: 21px;
    color: #056CDE;
    }

&__all {
    color: #056CDE;
    }

&__cupping {
    color: #056CDE;
    margin-right: 18px;
    }

&__chinese-herbs {
    color: #056CDE;
    }

&__tissue {
    margin-right: 17px;
    color: #056CDE;
}

&__trigger {
    margin-right: 17px;
    color: #056CDE;
    }

&__massage {
    color: #056CDE;
    }

&__myofascial {
    color: #056CDE;
    }
}

.advantages__info__title::before {
    content: " ";
    position: absolute;
    width: 110px;
    height: 5px;
    background: #056CDE;
    border-radius: 10px;
    height: 6px;
    top: 50px;
    @media (min-width: 768px) and (max-width: 1023px) {width: 80px; height: 3px; top: 12px;}
    @media (min-width: 0px) and (max-width: 767px) {width: 80px; height: 3px; top: 20px;}
}

.advantages {
    position: relative;
    z-index: 1;

&__info {
    padding-top: 88px;
    padding-left: 100px;
    @media (min-width: 768px) and (max-width: 1023px) {padding-top: 35px; padding-left: 55px;}
    @media (min-width: 0px) and (max-width: 767px) {padding-top: 40px; padding-left: 0px;}

    &__title {
        @media (min-width: 0px) and (max-width: 1023px) {@include mont22bold();}
    }
    &__text {
        padding-top: 16px;
        padding-right: 500px;
        @include sans18();
        @media (min-width: 768px) and (max-width: 1023px) {@include sans15(); padding-right: 200px;}
        @media (min-width: 0px) and (max-width: 767px) {display: none; padding-right: 0px;}
        }
    }

&__cards-first {
    grid-template-columns: repeat(26,1fr);
    display: grid;
    grid-gap: 0px;
    padding-top: 43px;
    height: auto;
    @media (min-width: 768px) and (max-width: 1023px) {grid-gap: 10px; padding-top: 63px;}
    @media (min-width: 0px) and (max-width: 767px) {display: block; padding-top: 18px;}
    }

&__cards-first__multi {
    grid-column-start: 4;
    grid-column-end: 13;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
    width: 100%;
    @media (min-width: 768px) and (max-width: 1023px) {grid-column-start: 3;}
    @media (min-width: 0px) and (max-width: 767px) {background: none; box-shadow: none;}
    }

&__cards-first__doctor {
    grid-column-start: 15;
    grid-column-end: 24;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
    width: 100%;
    @media (min-width: 768px) and (max-width: 1023px) {grid-column-start: 14;}
    @media (min-width: 0px) and (max-width: 767px) {background: none; box-shadow: none;}
    }

&__cards-second {
    grid-template-columns: repeat(26,1fr);
    display: grid;
    grid-gap: 0px;
    margin-top: 48px;
    height: auto;
    @media (min-width: 768px) and (max-width: 1023px) {grid-gap: 10px; margin-top: 58px;}
    @media (min-width: 0px) and (max-width: 767px) {display: block; margin-top: -35px;}
    }

&__cards-second__over {
    grid-column-start: 4;
    grid-column-end: 13;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
    width: 100%;
    @media (min-width: 768px) and (max-width: 1023px) {grid-column-start: 3;}
    @media (min-width: 0px) and (max-width: 767px) {background: none; box-shadow: none;}
    }

&__cards-second__insurance {
    grid-column-start: 15;
    grid-column-end: 24;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(118, 157, 202, 0.15);
    border-radius: 10px;
    width: 100%;
    @media (min-width: 768px) and (max-width: 1023px) {grid-column-start: 14;}
    @media (min-width: 0px) and (max-width: 767px) {background: none; box-shadow: none; margin-top: -10px;}
    }
}

.multi {
&__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #3A4959;
    padding-left: 63px;
    padding-top: 30px;
    @media (min-width: 768px) and (max-width: 1023px) {@include mont14bold(); padding: 36px 30px 0px 25px;}
    @media (min-width: 0px) and (max-width: 767px) {@include mont14bold(); padding-left: 70px; margin-top: -22px;}
}

&__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3A4959;
    padding: 9px 90px 10px 63px;
    @media (min-width: 768px) and (max-width: 1023px) {@include sans14(); padding: 5px 30px 46px 25px;}
    @media (min-width: 0px) and (max-width: 767px) {@include sans14(); padding: 0px 0px 26px 70px;}
}
}

.doctor {
&__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #3A4959;
    padding-left: 64px;
    padding-top: 30px;
    @media (min-width: 768px) and (max-width: 1023px) {@include mont14bold(); padding: 36px 30px 0px 25px;}
    @media (min-width: 0px) and (max-width: 767px) {@include mont14bold(); padding-left: 70px; margin-top: -45px;}
}
    
&__text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #3A4959;
    padding: 7px 30px 10px 64px;
    @media (min-width: 768px) and (max-width: 1023px) {@include sans14(); padding: 3px 10px 30px 25px;}
    @media (min-width: 0px) and (max-width: 767px) {@include sans14(); padding: 0px 0px 26px 70px;}
}
}

.sprite { 
    @mixin sprite($item) {
      height: 70px;
      width: 70px;
      background-position: ($item * (-73)) + px 860px;
      background-image: url('./img/Sprite_b.svg');
      @media (min-width: 0px) and (max-width: 1023px) {height: 50px; width: 50px; background-position: ($item * (-53)) + px 682px;}
    }
      
    &__multi {
      @include sprite(0);
      position: absolute;
      top: 50%;
      left: 8%;
      @media (min-width: 768px) and (max-width: 1023px) {top: 31%; left: 12%;}
      @media (min-width: 0px) and (max-width: 767px) {top:18%; left: 0px;}
    
    }
  
    &__doctor {
        @include sprite(1);
        position: absolute;
        top: 50%;
        left: 51%;
        @media (min-width: 768px) and (max-width: 1023px) {top: 31%; left: 55%;}
        @media (min-width: 0px) and (max-width: 767px) {top: 38%; left: 0px;}
      }
  
    &__over {
        @include sprite(2);
        position: absolute;
        top: 82%;
        left: 8%;
        @media (min-width: 768px) and (max-width: 1023px) {top: 69%; left: 12%;}
        @media (min-width: 0px) and (max-width: 767px) {top: 58%; left: 0px;}
    }
  
    &__insurance {
        @include sprite(3);
        position: absolute;
        top: 82%;
        left: 51%;;
        @media (min-width: 768px) and (max-width: 1023px) {top: 69%; left: 55%;}
        @media (min-width: 0px) and (max-width: 767px) {top: 82%; left: 0px;}
      }
    }

.over {
        &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #3A4959;
            padding-left: 63px;
            padding-top: 36px;
            @media (min-width: 768px) and (max-width: 1023px) {@include mont14bold(); padding: 36px 30px 0px 25px;}
            @media (min-width: 0px) and (max-width: 767px) {@include mont14bold(); padding-left: 70px;}
        }
        
        &__text {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #3A4959;
            padding: 9px 50px 34px 63px;
            @media (min-width: 768px) and (max-width: 1023px) {@include sans14(); padding: 3px 10px 50px 25px;}
            @media (min-width: 0px) and (max-width: 767px) {@include sans14(); padding: 0px 0px 26px 70px;}
        }
}

.insurance {
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #3A4959;
        padding-left: 63px;
        padding-top: 37px;
        @media (min-width: 768px) and (max-width: 1023px) {@include mont14bold(); padding: 33px 30px 0px 25px;}
        @media (min-width: 0px) and (max-width: 767px) {@include mont14bold(); padding-left: 70px;}
    }
    
    &__text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #3A4959;
        padding: 9px 70px 34px 63px;
        @media (min-width: 768px) and (max-width: 1023px) {@include sans14(); padding: 3px 10px 50px 25px;}
        @media (min-width: 0px) and (max-width: 767px) {@include sans14(); padding: 0px 0px 26px 70px;}
    }
    }

    .osvaldo {
        position: relative;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-gap: 20px;
        @media (min-width: 0px) and (max-width: 767px) {display: block;}

    &__foto {
        grid-column-start: 1;
        grid-column-end: 7;

        &__img {
            position: relative;
            top: 120px;
            @media (min-width: 0px) and (max-width: 767px) {top: 30px;}
        }
    }

    &__info {
        grid-column-start: 7;
        grid-column-end: 13;

        &__title {
            padding-top: 180px;
            margin-bottom: 18px;
            @media (min-width: 768px) and (max-width: 1023px) {@include mont22bold(); padding-top: 163px; margin-bottom: 0px;}
            @media (min-width: 0px) and (max-width: 767px) {@include mont22bold(); padding-top: 72px;}
        }

        &__text {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 29px;
            color: #3A4959;
            @media (min-width: 0px) and (max-width: 1023px) {@include sans15();}
        }
    }
    }

    
.osvaldo__info__title::before {
    content: " ";
    position: absolute;
    width: 110px;
    height: 5px;
    background: #056CDE;
    border-radius: 10px;
    height: 6px;
    top: 145px;
    @media (min-width: 768px) and (max-width: 1023px) {width: 80px; height: 3px; top: 140px;}
    @media (min-width: 0px) and (max-width: 767px) {width: 80px; height: 3px; top: 37%;}
}

// .osvaldo__foto::after {
//     @media (min-width: 0px) and (max-width: 767px) {background: #056CDE;
//         border-radius: 10px;width: 80px; height: 3px; bottom: 410px; content: " ";
//         position: absolute;}
// }

.main__content {
&__advantages {
    padding-top: 65px;
    @media (min-width: 0px) and (max-width: 767px) {padding-top: 38px;}
}

&__osvaldo {
    @media (min-width: 768px) and (max-width: 1023px) {margin-top: -50px;}
}

&__bg {
    z-index: 0;
    position: absolute;
    background: url('./img/bg2.svg');
    height: 1225px;
    width: 590px;
    top: 720px;
    left: 0px;
    @media (min-width: 768px) and (max-width: 1023px) {
        top: 500px;
        left: -80px;
    }
    @media (min-width: 0px) and (max-width: 767px) {
        display: none;
    }
}

&__bg2 {
    background: url('./img/bg3.svg');
    height: 1259px;
    width: 590px;
    z-index: 0;
    position: absolute;
    top: 2100px;
    right: 0px;
    @media (min-width: 768px) and (max-width: 1023px) {
        top: 1460px;
        max-width: 330px;
    }
    @media (min-width: 0px) and (max-width: 767px) {
        display: none;
    }
}
}