<section class="contacts">
    <div class="container">
        <div class="contacts__content">
            <div class="contacts__content__sprite">
                <svg class="sprite__mail"></svg>
            </div>
            <div class="contacts__content__info">
                <h1 class="info__title">Contact Us Today</h1>
                <div class="info__text">We are happy to assist you with any questions 
                    you may have regarding your chiropractic needs or insurance 
                    questions. You can make an appointment online or by giving us a 
                    call at</div>
                <div class="info__number">(303) 457-2040</div>
                <div class="info__button-block">
                    @@include("./../components/button.html", {
                        "class":"appointment2",
                        "text":"MAKE AN APPOINTMENT"
                    })
                </div>
            </div>
        </div>
    </div>
</section>