<footer class="footer">
    <div class="container">
        <div class="footer__first">
            <div class="footer__first__pages">
                <a href='' class="pages__story">OUR STORY</a>
                <a href='' class="pages__services">SERVICES</a>
                <a href='' class="pages__faq">FAQ</a>
                <a href='' class="pages__contact">CONTACT</a>
            </div>
            <div class="footer__first__contacts">
                <div class="contacts__sn">
                    <a href="" class="contacts__sn__pinterest"></a>
                    <a href="" class="contacts__sn__instagram"></a>
                    <a href="" class="contacts__sn__twitter"></a>
                    <a href="" class="contacts__sn__facebook"></a>
                </div>
                @@include("./../components/button.html", {
                    "class":"contact",
                    "text":"CONTACT US"
                })
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer__second">
            <div class="footer__second__adress">
                <div class="adress__number">(303) 457-2040</div>
                <div class="adress__street">10313 Washington St., Thornton, CO 80229</div>
            </div>
            <div class="footer__second__time">
                <div class="time__mwt">Monday, Wednesday, Thursday — 9:00 AM - 6:00 PM</div>
                <div class="time__f">Friday — 9:00 AM - 1:00 PM</div>
                <div class="time__s">Saturday — 10:00 AM - 1:00 PM</div>
            </div>
            <div class="footer__second__info">
                <div class="info__rating">
                    <div class="info__rating__text">Company rating:</div>
                    <div class="info__rating__star"></div>
                    <div class="info__rating__star"></div>
                    <div class="info__rating__star"></div>
                    <div class="info__rating__star"></div>
                    <div class="info__rating__star"></div>
                </div>
                <div class="info__copyright">© Copyright — Healthy Spine Family Chiropractic 2019</div>
            </div>
        </div>
    </div>
</footer>