<article class="info">
    <div class="container">
        <div class="info__content">
            <div class="info__content__description">
                <h1 class="description__title">Healthy<br> Spine Family Chiropractic</h1>
                <div class="description__text">Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic treatment for all ages. We understand that not all bodies are the same.</div>
                @@include("./../components/button.html", {
                    "class":"push",
                    "text":"GET IN TOUCH NOW"
                })
                <div class="description__contact">
                    <a href="" class="contact__pinterest"></a>
                    <a href="" class="contact__instagram"></a>
                    <a href="" class="contact__twitter"></a>
                    <a href="" class="contact__facebook"></a>
                </div>
            </div>
            <div class="info__content__img">
                <img src="./img/Vector.png" class="img__bg">
                <img src='./img/image.png' class="img__spine">
                <img src="./img/Ellipse.png" class='img__ellipse'>
            </div>
        </div>
    </div>
</article>