<main class="main">
    <div class="main__content">
        <!-- <section class="main__content__pain-treatment">
            <div class="container">
                <div class="pain-treatment">
                <div class="pain-treatment__foto">
                    <img src="./img/Rectangle2.png" class="pain-treatment__foto__img">
                </div>
                <div class="pain-treatment__info">
                    <h2 class="pain-treatment__info__title">Comprehensive Pain Treatment</h2>
                    <div class="pain-treatment__info__text">Healthy Spine Family Chiropractic was created for the
                    necessity<br> of custom made chiropractic treatment for all ages. We understand that not all bodies are
                    the same and so your chiropractic treatment will be tailored to you. Healthy Spine Family
                    Chiropractic was created for the necessity of custom made chiropractic treatment for all ages. We
                    understand that not all bodies are the same and so your chiropractic treatment will be tailored to
                    you. Healthy Spine Family Chiropractic was created for the necessity of custom made chiropractic
                    treatment for all ages. We understand that not all bodies are the same and so your chiropractic
                    treatment will be tailored<br> to you.</div>
                    <a href='' class="pain-treatment__info__button">LEARN MORE</a>
                </div>
                </div>
            </div>
        </section> -->
        <!-- <svg class="main__content__bg"></svg> -->

        <!-- <section class="main__content__line-first">
            <div class="container">
                <div class="services">
                <h2 class="services__title">Services</h2>
                <div class="services__card-chiropractic">
                    <img src="./img/Rectangle3.4.png" class="card-chiropractic__img">
                    <h3 class="card-chiropractic__title">Chiropractic</h3>
                    <p class="card-chiropractic__text">Chiropractic care is a unique science that<br> focuses on restoring and
                        maintaining health, while most other healing arts are designed to treat disease.</p>
                    <div class="card-chiropractic__links">
                        <a href="" class="links__chiropractic">CHIROPRACTIC ADJUSTMENT</a>
                        <a href="" class="links__distraction">FLEXION-DISTRACTION</a>
                        <a href="" class="links__thompson">THOMPSON</a>
                        <a href="" class="links__all">VIEW All SERVICES</a>
                    </div>
                </div>
                <div class="services__card-acupuncture">
                    <img src="./img/Rectangle3.12.png" class="card-acupuncture__img">
                    <h3 class="card-acupuncture__title">Acupuncture</h3>
                    <p class="card-acupuncture__text">Healthy Spine Family Chiropractic, serves the<br> Thornton and 
                        surrounding communities and<br> it provides a natural, conservative approach<br> to 
                        your health care.</p>
                    <div class="card-acupuncture__links">
                        <a href="" class="links__cupping">CUPPING</a>
                        <a href="" class="links__chinese-herbs">CHINESE HERBS</a>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <section class="main__content__line-second">
            <div class="container">
                <div class="services">
                <div class="services__card-massage">
                    <img src="./img/Rectangle3.6.png" class="card-massage__img">
                    <h3 class="card-massage__title">Massage</h3>
                    <p class="card-massage__text">Healthy Spine Family Chiropractic, serves the
                         Thornton and surrounding communities and<br> it provides a natural, 
                         conservative approach<br> to your health care.</p>
                    <div class="card-massage__links">
                        <a href="" class="links__tissue">DEEP TISSUE</a>
                        <a href="" class="links__trigger">TRIGGER POINT</a>
                        <a href="" class="links__massage">SPORT MASSAGE</a>
                        <a href="" class="links__myofascial">MYOFASCIAL RELEASE</a>
                    </div>
                </div>
                </div>
            </div>
            <svg class="main__content__bg2"></svg>
        </section>
        

        <section class="main__content__advantages">
            <div class="container">
                <div class="advantages">
                    <div class="advantages__info">
                        <h2 class="advantages__info__title">Advantages</h2>
                        <div class="advantages__info__text">Healthy Spine Family 
                            Chiropractic was created for the necessity of<br> custom made 
                            chiropractic treatment for all ages.</div>
                    </div>
                    <div class="advantages__cards-first">
                        <div class="advantages__cards-first__multi">
                            <svg class="sprite__multi"></svg>
                            <h3 class="multi__title">Multi Disciplinary Practice</h3>
                            <div class="multi__text">We offer chiropractic, massage<br> and acupuncture.</div>
                        </div>  
                        <div class="advantages__cards-first__doctor">
                            <svg class="sprite__doctor"></svg>
                            <h3 class="doctor__title">The Doctor Speaks Spanish</h3>
                            <div class="doctor__text">We strive to provide complete care for<br> our patients. We speak English and<br> Spanish.</div>
                        </div>
                    </div>
                    <div class="advantages__cards-second">
                        <div class="advantages__cards-second__over">
                            <div class="sprite__over"></div>
                            <h3 class="over__title">Over 10 Years of Experience</h3>
                            <div class="over__text">The Doctor has 10+ years of experience<br> in the chiropractic.</div>
                        </div>
                        <div class="advantages__cards-second__insurance">
                            <div class="sprite__insurance"></div>
                            <h3 class="insurance__title">Insurance</h3>
                            <div class="insurance__text">We accept most insurance and file<br> the claims for you.</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="main__content__osvaldo">
            <div class="container">
                <div class="osvaldo">
                <div class="osvaldo__foto">
                    <img src="./img/Mask.png" class='osvaldo__foto__bg'>
                    <img src="./img/profile.png" class="osvaldo__foto__img">
                </div>
                <div class="osvaldo__info">
                    <h2 class="osvaldo__info__title">Dr. Osvaldo «Ozzie» Gratacos</h2>
                    <div class="osvaldo__info__text">Dr. Osvaldo “Ozzie” Gratacos is a licensed 
                        chiropractor serving the Thornton and surrounding communities. Dr. 
                        Gratacos graduated from Palmer College of Chiropractic in Florida. 
                        After graduating, Dr. Gratacos went back to his home in Puerto Rico to 
                        open a practice for 4 years before practicing in Lakewood, Colorado. 
                        He is bilingual (spanish/english). Ozzie is certified in extremity 
                        adjustments, treatment in golf related injuries, and Cox technique 
                        for herniated disc.</div>
                </div>
                </div>
            </div>
        </section> -->
    </div>
</main>